{% extends "layout.html" %} 

{% block title %}Bibtex-apuri{% endblock %} 

{% block body %}

<h1>Bibtex-apuri</h1>

{% if not is_bibtex %}
<form action="/toggle-bibtex" method="GET">
  <button type="submit">Toggle BibTeX</button>
</form>
{% else %}
<form action="/" method="GET">
  <button type="submit">Toggle normal citations</button>
</form>
{% endif %}

<pre>
{% for citation in citations %}
{{citation}}
<form action="/delete" method="POST" style="display:inline;">
  <input type="hidden" name="key" value="{{ citation.key }}">
  <button type="submit">Poista</button>
</form>
{% else %}
<p>Ei lisättyjä viitteitä</p>
{% endfor %}
</pre>

<br />

<a href="/new">Luo uusi viite</a>

{% endblock %}
