{% extends "layout.html" %} 

{% block title %}Bibtex-apuri{% endblock %} 

{% block body %}

  <h1>Bibtex-apuri</h1>

  {% if is_bibtex %}
    <form action="/" method="GET">
      <button type="submit">Toggle normal citations</button>
    </form>
  {% else %}
    <form action="/toggle-bibtex" method="GET">
      <button type="submit">Toggle BibTeX</button>
    </form>
  {% endif %}

  <br>

  {% for citation in citations %}
    {% if is_bibtex %}
      <pre>{{citation.bibtex()}}</pre>
    {% else %}
      {{citation}}
    {% endif %}
    <form action="/delete" method="POST">
      <input type="hidden" name="key" value="{{citation.key}}">
      <button type="submit">Poista</button>
    </form>

    <br>
  {% else %}
    <p>Ei lisättyjä viitteitä</p>
  {% endfor %}

  <br>

  <a href="/new">Luo uusi viite</a>

{% endblock %}
