<!DOCTYPE html>
<html lang="fi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{% block title %}{% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <
  <body>
    <nav>    
      <ul>      
        <li><a href="{{ url_for('index') }}">Etusivu</a></li>
        <li><a href="{{ url_for('new') }}">Luo uusi viite</a></li>
      </ul>
      <h1 class="app-name">Bibtex-apuri</h1>
    </nav>
    <div class="content">
      {% block body %}{% endblock %}
    </div> 
  </body>
</html>
