{% extends "layout.html" %}

{% block title %}Luo uusi viite{% endblock %}

{% block body %}
  <h1>Lisää article viite</h1>

  <form action="/article_new" method="POST">
    <div>
      <label for="key">Viitteen nimi:</label>
      <input type="text" name="key_article" required>
    </div>

    <div>
      <label for="author">Kirjoittaja:</label>
      <input type="text" name="author_article" required>
    </div>

    <div>
      <label for="title">Otsikko:</label>
      <input type="text" name="title_article" required>
    </div>

    <div>
      <label for="journal">Julkaisupaikka:</label>
      <input type="text" name="journal_article" required>
    </div>

    <div>
      <label for="year">Vuosi:</label>
      <input type="number" name="year_article" required>
    </div>

    <div>
      <label for="volume">Volyymi:</label>
      <input type="text" name="volume_article">
    </div>

    <div>
      <label for="pages">Sivut:</label>
      <input type="text" name="pages_article">
    </div>

    <div>
      <button type="submit" id="article">Lisää viite</button>
    </div>
  </form>

  <h1>Lisää inproceedings viite</h1>

  <form action="/inproceedings_new" method="POST">
    <div>
      <label for="key">Viitteen nimi:</label>
      <input type="text" name="key_inproceedings" required>
    </div>

    <div>
      <label for="author">Kirjoittaja:</label>
      <input type="text" name="author_inproceedings" required>
    </div>

    <div>
      <label for="title">Otsikko:</label>
      <input type="text" name="title_inproceedings" required>
    </div>

    <div>
      <label for="year">Vuosi:</label>
      <input type="number" name="year_inproceedings" required>
    </div>

    <div>
      <label for="volume">kirjan nimi:</label>
      <input type="text" name="booktitle_inproceedings">
    </div>

    <div>
      <button type="submit" id="inproceedings">Lisää viite</button>
    </div>
  </form>

  <a href="/">Palaa etusivulle</a>
{% endblock %}
